.main-cart {
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // align-items: center;
    }

    &__row {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @media screen and (min-width: 750px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    @media screen and (min-width: 750px) {
        .cart-item {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-bottom: 2rem;
        }
    }

    .cart-item__name {
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.6rem;
        font-weight: 700;
    }

    .cart-item__details {
        align-self: flex-start;
    }

    .cart-item__link,
    .cart-item__media {

        width: 100%;
        max-width: 146px;
        height: auto;

        @media screen and (min-width: 750px) {
            height: 184px;
        }

    }

    .product-option {
        color: #265979;
    }

    .product-option dt {
        font-weight: 700;
    }

    .cart-item__quantity {
        padding-left: 0;
        border: none;
    }

    .quantity__button, .quantity {
        border: none;
        width: unset;
    }

    .quantity {
        width: 70px;
    }

    .cart__price {
        border: 1px solid #EDEDED;
    }

    .cart__footer {
        padding: 4.5rem 2.5rem 6rem;
    }

    .title-wrapper-with-link {
        width: 100%;
    }

    .title-wrapper-with-link .title {
        font-family: 'Sooky70s', sans-serif;
        text-transform: uppercase;
    }

    .title-wrapper-with-link a {
        padding: 8px 16px;
        background: #F1F8FB;
        border-radius: 20px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

